<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categorias</title>
</head>
<body>
<h1>Listado Categorias</h1>
<table>
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    </thead>
    <tbody>
    <tr th:each="categoria: ${categorias}">
        <td th:text="${categoria.id}"></td>
        <td th:text="${categoria.nombre}"></td>
    </tr>
    </tbody>
</table>
<a href="/menu/categorias/agregar">Agregar categoría</a>
</body>
</html>